.wrapper {
  display: flex;
  flex-direction: row;
  padding: 25px;
  padding-right: 0px;
}
.user-container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
